*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    height: 100vh;
    opacity: 10;
    background-color: rgb(185, 187, 255);
}

#main-container{
    display: flex;
    justify-content: center;
    text-align: center;
}

.title, h1{
    margin: 10px;
    display: flex;
    justify-content: center;
}

.grid-container{
    display: grid;
    grid-template-columns: 80px 80px;
    grid-template-rows: 80px;
    gap: 5px;
    justify-content: space-around;
    align-content: flex-start;
    border-radius: 5px;
    padding: 1rem;
    margin: 5px;
    padding: 5px;
    font-size: 25px;
}

.span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    font-weight: bold;
    color: black;
    font-size: 25px;
    margin: 2px;
    padding: 2px;
}

.parr{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: black;
    width: 200px;
    height: 40px;
    font-size: 20px;
    margin: 2px;
    padding: 2px;
}

.content-numbers{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

#numbers{
    font-weight: bold;
    color: black;
    width: 600px;
    display: flex;
    gap: 5px;
    justify-content: space-evenly;
    align-content: flex-start;
    border-radius: 5px;
    padding: 1,5rem;
    font-size: 13px;
    flex-wrap: wrap;
    width: 700px;
}

.num-container{
    text-align: center;
}

.num-container .num{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    font-size: 25px;
    background-color: rgb(223, 136, 156);
    border-radius: 5px;
    padding: 1.5rem;
    border: 2px solid  rgb(143, 115, 137);
    cursor: pointer;
}
 .num-container span{
    align-self: center;
    font-weight: bold;
 }


